.form-container {
  background-color: #cde3f9; /* Example background color */
  padding: 20px;
  border:2px solid black;
  border-radius: 15px;
}


.card {
  border-radius: 15px;
}

.card-header h2 {
  margin-bottom: 0;
}

.card-body {
  padding: 20px;
}

.text-end {
  margin-top: 20px;
}

.form-label {
  font-weight: bold;
}

.text-danger {
  font-size: 14px;
}

.btn{
  color: white;
  background-color: rgb(0, 7, 12);
  border-color: white;
  font-size: large;
}

.btn:hover {
  background-color: #5d99da;
  border-color: #0056b3;
  font-size: larger;
}